@font-face {
  font-family: "RickAndMorty";
  src: local("RickAndMorty"), url("./fonts/get_schwifty.ttf") format("opentype");
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(101, 135, 4, 1) 50%,
    rgba(2, 0, 36, 1) 100%
  );
  text-align: center;
}

.App {
  padding: 1rem;
}

.title {
  text-align: center;
  font-family: "RickAndMorty";
}

.container {
  display: grid;
  grid-template-columns: 15% 1fr; /* Two columns with equal width */
  grid-gap: 20px; /* Gap between grid items */
  padding: 2rem;
}

/* Just for demonstration purpose */
.column {
  padding: 20px;
}

/* Extra small devices (phones, 600px and down) */
.chars-list-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  overflow-x: hidden;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
  .chars-list-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /* Change to single column layout for smaller screens */
  }
}

/* Medium devices (landscape tablets, 920px and up) */
@media only screen and (min-width: 920px) {
  .chars-list-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  .chars-list-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* search-box styles */

.search-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    font-weight: bold;
    margin-bottom: 1rem;
    color: #fff;
    display: block;
  }

  input[type="search"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    width: 100%;

    &:focus {
      border-color: #007bff;
      box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
    }
  }
}
